# CO<sub>2</sub> emissions
_by Virginia Herrero_

## Data loading
Load the CSV file **co2-emissions-dataset** as a pandas DataFrame.

In [1]:
# Import all required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Load the dataset
carbon_emission = pd.read_csv("co2-emissions-dataset.csv")
carbon_emission.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.121,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3769828.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.118,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3787706.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.116,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3806634.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.115,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3825655.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.114,NaN,NaN,NaN,NaN,NaN,NaN

## Data cleaning
Clean and pre-process the dataset before it undergoes further analysis.

In [3]:
carbon_emission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46523 entries, 0 to 46522
Data columns (total 74 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    46523 non-null  object
 1   year                                       46523 non-null  int64
 2   iso_code                                   39862 non-null  object
 3   population                                 38574 non-null  float64
 4   gdp                                        14551 non-null  float64
 5   cement_co2                                 24974 non-null  float64
 6   cement_co2_per_capita                      22714 non-null  float64
 7   co2                                        31349 non-null  float64
 8   co2_growth_abs                             28944 non-null  float64
 9   co2_growth_prct                            25032 non-null  float64
 10  co2_including_luc                          24212 non-null  float64
 11  co2_including_luc_growth_abs               23909 non-null  float64
 12  co2_including_luc_growth_prct              24129 non-null  float64
 13  co2_including_luc_per_capita               23690 non-null  float64
 14  co2_including_luc_per_gdp                  15701 non-null  float64
 15  co2_including_luc_per_unit_energy          9528 non-null   float64
 16  co2_per_capita                             26915 non-null  float64
 17  co2_per_gdp                                16291 non-null  float64
 18  co2_per_unit_energy                        10054 non-null  float64
 19  coal_co2                                   25069 non-null  float64
 20  coal_co2_per_capita                        24421 non-null  float64
 21  consumption_co2                            4600 non-null   float64
 22  consumption_co2_per_capita                 4227 non-null   float64
 23  consumption_co2_per_gdp                    3898 non-null   float64
 24  cumulative_cement_co2                      24873 non-null  float64
 25  cumulative_co2                             29356 non-null  float64
 26  cumulative_co2_including_luc               24212 non-null  float64
 27  cumulative_coal_co2                        24968 non-null  float64
 28  cumulative_flaring_co2                     24774 non-null  float64
 29  cumulative_gas_co2                         24842 non-null  float64
 30  cumulative_luc_co2                         39388 non-null  float64
 31  cumulative_oil_co2                         24941 non-null  float64
 32  cumulative_other_co2                       2386 non-null   float64
 33  energy_per_capita                          9987 non-null   float64
 34  energy_per_gdp                             7159 non-null   float64
 35  flaring_co2                                24875 non-null  float64
 36  flaring_co2_per_capita                     24272 non-null  float64
 37  gas_co2                                    24943 non-null  float64
 38  gas_co2_per_capita                         24340 non-null  float64
 39  ghg_excluding_lucf_per_capita              6119 non-null   float64
 40  ghg_per_capita                             6119 non-null   float64
 41  land_use_change_co2                        39388 non-null  float64
 42  land_use_change_co2_per_capita             36026 non-null  float64
 43  methane                                    6150 non-null   float64
 44  methane_per_capita                         6120 non-null   float64
 45  nitrous_oxide                              6150 non-null   float64
 46  nitrous_oxide_per_capita                   6120 non-null   float64
 47  oil_co2                                    25042 non-null  float64
 48  oil_co2_per_capita                         24367 non-null  float64
 49  other_co2_per_capita                       2386 non-null   float64
 50  other_industry_co2                         2386 non-null   float64
 51  primary_energy_consumption                 10085 non-null  float64
 52  share_global_cement_co2                    20830 non-null  float64
 53  share_global_co2                           29356 non-null  float64
 54  share_global_co2_including_luc             24212 non-null  float64
 55  share_global_coal_co2                      24968 non-null  float64
 56  share_global_cumulative_cement_co2         20830 non-null  float64
 57  share_global_cumulative_co2                29356 non-null  float64
 58  share_global_cumulative_co2_including_luc  24212 non-null  float64
 59  share_global_cumulative_coal_co2           24968 non-null  float64
 60  share_global_cumulative_flaring_co2        15980 non-null  float64
 61  share_global_cumulative_gas_co2            21990 non-null  float64
 62  share_global_cumulative_luc_co2            39388 non-null  float64
 63  share_global_cumulative_oil_co2            23421 non-null  float64
 64  share_global_cumulative_other_co2          2386 non-null   float64
 65  share_global_flaring_co2                   15980 non-null  float64
 66  share_global_gas_co2                       21990 non-null  float64
 67  share_global_luc_co2                       39388 non-null  float64
 68  share_global_oil_co2                       23421 non-null  float64
 69  share_global_other_co2                     2386 non-null   float64
 70  total_ghg                                  6149 non-null   float64
 71  total_ghg_excluding_lucf                   6149 non-null   float64
 72  trade_co2                                  4259 non-null   float64
 73  trade_co2_share                            4258 non-null   float64
dtypes: float64(71), int64(1), object(2)
memory usage: 26.3+ MB

* **Remove unnecessary columns**

All columns or features that are not necessary for this analysis are dropped from the dataset.

In [4]:
carbon_emission.columns

Index(['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2',
       'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct',
       'co2_including_luc', 'co2_including_luc_growth_abs',
       'co2_including_luc_growth_prct', 'co2_including_luc_per_capita',
       'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy',
       'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2',
       'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2',
       'cumulative_co2_including_luc', 'cumulative_coal_co2',
       'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita',
       'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2',
       'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita',
       'other_industry_co2', 'primary_energy_consumption',
       'share_global_cement_co2', 'share_global_co2',
       'share_global_co2_including_luc', 'share_global_coal_co2',
       'share_global_cumulative_cement_co2', 'share_global_cumulative_co2',
       'share_global_cumulative_co2_including_luc',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2',
       'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_luc_co2', 'share_global_oil_co2',
       'share_global_other_co2', 'total_ghg', 'total_ghg_excluding_lucf',
       'trade_co2', 'trade_co2_share'],
      dtype='object')

In [5]:
# Select the columns to drop
columns_to_drop = ["iso_code", "cement_co2_per_capita", "co2_growth_prct", "co2_including_luc_growth_prct", "co2_including_luc", 
                   "co2_including_luc_growth_abs", "co2_including_luc_per_capita", "co2_including_luc_per_gdp", "co2_including_luc_per_unit_energy",
                   "co2_per_capita", "co2_per_unit_energy", "coal_co2_per_capita", "consumption_co2", "consumption_co2_per_capita", "consumption_co2_per_gdp",
                   "cumulative_cement_co2", "cumulative_co2", "cumulative_co2_including_luc", "cumulative_coal_co2", "cumulative_flaring_co2",
                   "cumulative_gas_co2", "cumulative_luc_co2", "cumulative_oil_co2", "cumulative_other_co2", "energy_per_capita", "energy_per_gdp",
                   "flaring_co2_per_capita", "gas_co2_per_capita", "ghg_excluding_lucf_per_capita", "ghg_per_capita", "land_use_change_co2_per_capita",
                   "methane", "methane_per_capita", "nitrous_oxide", "nitrous_oxide_per_capita", "oil_co2_per_capita", "other_co2_per_capita",
                   "primary_energy_consumption", "share_global_cement_co2", "share_global_co2", "share_global_co2_including_luc", "share_global_coal_co2", 
                   "share_global_cumulative_cement_co2", "share_global_cumulative_co2", "share_global_cumulative_co2_including_luc", "share_global_cumulative_coal_co2",
                   "share_global_cumulative_flaring_co2", "share_global_cumulative_gas_co2", "share_global_cumulative_luc_co2", "share_global_cumulative_oil_co2", 
                   "share_global_cumulative_other_co2", "share_global_flaring_co2", "share_global_gas_co2", "share_global_luc_co2", "share_global_oil_co2", 
                   "share_global_other_co2","total_ghg", "total_ghg_excluding_lucf", "trade_co2", "trade_co2_share", "co2_growth_abs", "co2_per_gdp"]

In [6]:
carbon_emission = carbon_emission.drop(columns_to_drop, axis = 1)

In [7]:
carbon_emission.columns

Index(['country', 'year', 'population', 'gdp', 'cement_co2', 'co2', 'coal_co2',
       'flaring_co2', 'gas_co2', 'land_use_change_co2', 'oil_co2',
       'other_industry_co2'],
      dtype='object')

In [8]:
carbon_emission.head()

,country,year,population,gdp,cement_co2,co2,coal_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2
0,Afghanistan,1850,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,2.931,NaN,NaN
1,Afghanistan,1851,3769828.0,NaN,NaN,NaN,NaN,NaN,NaN,2.968,NaN,NaN
2,Afghanistan,1852,3787706.0,NaN,NaN,NaN,NaN,NaN,NaN,2.968,NaN,NaN
3,Afghanistan,1853,3806634.0,NaN,NaN,NaN,NaN,NaN,NaN,3.004,NaN,NaN
4,Afghanistan,1854,3825655.0,NaN,NaN,NaN,NaN,NaN,NaN,3.004,NaN,NaN

* **Rename columns**

Some column names are renamed to improve readabily and comprehension of the dataset.

In [9]:
carbon_emission = carbon_emission.rename(columns = {"co2" : "total_co2"})

In [10]:
carbon_emission.head()

,country,year,population,gdp,cement_co2,total_co2,coal_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2
0,Afghanistan,1850,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,2.931,NaN,NaN
1,Afghanistan,1851,3769828.0,NaN,NaN,NaN,NaN,NaN,NaN,2.968,NaN,NaN
2,Afghanistan,1852,3787706.0,NaN,NaN,NaN,NaN,NaN,NaN,2.968,NaN,NaN
3,Afghanistan,1853,3806634.0,NaN,NaN,NaN,NaN,NaN,NaN,3.004,NaN,NaN
4,Afghanistan,1854,3825655.0,NaN,NaN,NaN,NaN,NaN,NaN,3.004,NaN,NaN

* **Filter data from the last 50 years**

This study focuses on carbon dioxide emissions over the last 50 years, so the dataset will be filtered to obtain only data from 1971 to 2021.

In [11]:
# Select the first year of the dataset
carbon_emission.year.min()

np.int64(1750)

In [12]:
# Filter the dataset by year and reset the index
carbon_emission = carbon_emission[(carbon_emission["year"] >= 1971)].reset_index(drop = True)

In [13]:
carbon_emission.head()

,country,year,population,gdp,cement_co2,total_co2,coal_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2
0,Afghanistan,1971,11015853.0,1.577051e+10,0.043,1.894,0.359,0.304,0.440,6.265,0.747,NaN
1,Afghanistan,1972,11286753.0,1.317055e+10,0.046,1.530,0.191,0.366,0.300,6.046,0.627,NaN
2,Afghanistan,1973,11575308.0,1.356863e+10,0.067,1.635,0.311,0.223,0.333,4.983,0.702,NaN
3,Afghanistan,1974,11869881.0,1.430911e+10,0.070,1.913,0.305,0.367,0.400,4.617,0.771,NaN
4,Afghanistan,1975,12157390.0,1.517777e+10,0.069,2.121,0.399,0.304,0.475,4.140,0.874,NaN

* **Data types**

Verify that all columns or features have the correct data type.

In [14]:
carbon_emission.dtypes

country                 object
year                     int64
population             float64
gdp                    float64
cement_co2             float64
total_co2              float64
coal_co2               float64
flaring_co2            float64
gas_co2                float64
land_use_change_co2    float64
oil_co2                float64
other_industry_co2     float64
dtype: object

The “year” column is of integer type instead of datetime. However, since only the year is needed, not the full date, the data type will remain integer.

* **Null values**

Remove missing values, zero values, or NaN values from the dataset.

A quick glance at the descriptive statistics of the dataset indicates that 25% of the values of 5 features are zero, and 50% of the values in the flaring_co2 column are zero.

In [15]:
carbon_emission.describe().T

,count,mean,std,min,25%,50%,75%,max
year,13193.0,1.996076e+03,1.471396e+01,1.971000e+03,1.983000e+03,1.996000e+03,2.009000e+03,2.021000e+03
population,12106.0,9.789166e+07,5.093085e+08,1.833000e+03,4.383258e+05,4.798528e+06,1.871719e+07,7.909295e+09
gdp,7780.0,4.231507e+11,2.840284e+12,1.120380e+08,1.307095e+10,4.261061e+10,2.004345e+11,1.136302e+14
cement_co2,11635.0,1.610971e+01,9.100006e+01,0.000000e+00,0.000000e+00,3.090000e-01,2.317000e+00,1.672592e+03
total_co2,12419.0,7.130162e+02,2.698844e+03,0.000000e+00,9.135000e-01,9.687000e+00,1.050105e+02,3.712385e+04
coal_co2,11747.0,1.995345e+02,9.958156e+02,0.000000e+00,0.000000e+00,1.210000e-01,1.188000e+01,1.505151e+04
flaring_co2,11747.0,6.401901e+00,2.792217e+01,0.000000e+00,0.000000e+00,0.000000e+00,5.555000e-01,4.392540e+02
gas_co2,11747.0,9.719472e+01,4.398783e+02,0.000000e+00,0.000000e+00,2.900000e-02,1.158850e+01,7.921830e+03
land_use_change_co2,11679.0,1.125068e+02,4.970239e+02,-3.238610e+02,0.000000e+00,1.319000e+00,1.934600e+01,7.104862e+03
oil_co2,11798.0,1.977634e+02,8.697925e+02,0.000000e+00,6.717500e-01,4.314500e+00,3.343125e+01,1.234565e+04
other_industry_co2,2085.0,1.998871e+01,4.446618e+01,0.000000e+00,6.810000e-01,3.000000e+00,1.408300e+01,3.066390e+02

In [16]:
# Check the total of null values in each column
carbon_emission.isnull().sum()

country                    0
year                       0
population              1087
gdp                     5413
cement_co2              1558
total_co2                774
coal_co2                1446
flaring_co2             1446
gas_co2                 1446
land_use_change_co2     1514
oil_co2                 1395
other_industry_co2     11108
dtype: int64

To deal with these null values, interpolation will be used. This method is chosen because it allows the time series of the data frame to be maintained by imputing interpolated values from the dataset.

In [17]:
# Replace all nan values into null values
carbon_emission = carbon_emission.replace(np.nan, 0)

In [18]:
# Interpolate all the null values
carbon_emission = carbon_emission.infer_objects(copy = False)

In [19]:
# Check for null values after interpolation
carbon_emission.isnull().sum()

country                0
year                   0
population             0
gdp                    0
cement_co2             0
total_co2              0
coal_co2               0
flaring_co2            0
gas_co2                0
land_use_change_co2    0
oil_co2                0
other_industry_co2     0
dtype: int64

In [20]:
carbon_emission.head()

,country,year,population,gdp,cement_co2,total_co2,coal_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2
0,Afghanistan,1971,11015853.0,1.577051e+10,0.043,1.894,0.359,0.304,0.440,6.265,0.747,0.0
1,Afghanistan,1972,11286753.0,1.317055e+10,0.046,1.530,0.191,0.366,0.300,6.046,0.627,0.0
2,Afghanistan,1973,11575308.0,1.356863e+10,0.067,1.635,0.311,0.223,0.333,4.983,0.702,0.0
3,Afghanistan,1974,11869881.0,1.430911e+10,0.070,1.913,0.305,0.367,0.400,4.617,0.771,0.0
4,Afghanistan,1975,12157390.0,1.517777e+10,0.069,2.121,0.399,0.304,0.475,4.140,0.874,0.0

* **Duplicated values**

Check if there are any duplicated data in the dataset.

In [21]:
carbon_emission.duplicated().sum()

np.int64(0)

* **Create a new DataFrame with continent information**

Data from continents and countries are mixed in the “country” column. Therefore, to extract information on emissions from the different continents, a new data frame is created with data from each continent.

In [22]:
continents = ["Africa", "Antarctica", "Asia", "Europe", "North America", "Oceania", "South America"]
emissions_continents = carbon_emission.loc[carbon_emission.country.isin(continents)]
emissions_continents = emissions_continents.drop(columns = ["gdp"])
emissions_continents = emissions_continents.rename(columns = {"country" : "continent"})

emissions_continents.head()

,continent,year,population,cement_co2,total_co2,coal_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2
51,Africa,1971,375086296.0,9.243,332.204,149.906,55.976,1.693,959.162,115.386,0.0
52,Africa,1972,384930776.0,9.762,352.239,153.924,64.650,4.414,1141.446,119.489,0.0
53,Africa,1973,395212420.0,10.328,378.421,154.291,80.006,5.360,900.868,128.435,0.0
54,Africa,1974,406069208.0,10.803,388.865,157.241,81.362,5.111,891.341,134.347,0.0
55,Africa,1975,417556976.0,10.928,387.829,162.187,64.309,6.422,884.893,143.982,0.0

In [23]:
emissions_continents.describe().T

,count,mean,std,min,25%,50%,75%,max
year,327.0,1.996064e+03,1.434561e+01,1971.000,1.984000e+03,1.996000e+03,2.008000e+03,2.021000e+03
population,327.0,9.070405e+08,1.190509e+09,0.000,2.444977e+08,4.923192e+08,7.439085e+08,4.693332e+09
cement_co2,327.0,1.247931e+02,2.458153e+02,0.000,1.315750e+01,4.840100e+01,1.151990e+02,1.358534e+03
total_co2,327.0,3.898526e+03,4.460648e+03,0.004,4.576025e+02,1.251306e+03,6.428630e+03,2.168899e+04
coal_co2,327.0,1.558270e+03,2.305254e+03,0.000,1.251180e+02,4.237800e+02,2.040023e+03,1.195901e+04
flaring_co2,327.0,4.863087e+01,4.228868e+01,0.000,1.816650e+01,4.051400e+01,6.913000e+01,2.303750e+02
gas_co2,327.0,7.038774e+02,7.849246e+02,0.000,6.404900e+01,2.390980e+02,1.358621e+03,3.242854e+03
land_use_change_co2,327.0,9.832504e+02,9.661938e+02,-323.861,1.391950e+02,7.241160e+02,1.716382e+03,4.117860e+03
oil_co2,327.0,1.435097e+03,1.353463e+03,0.004,2.063435e+02,6.074600e+02,2.760164e+03,4.806574e+03
other_industry_co2,327.0,2.785869e+01,4.563874e+01,0.000,0.000000e+00,4.647000e+00,3.426750e+01,2.060510e+02

* **Drop unnecessary countries**

The country column contains countries and areas that are not of interest for this analysis. Therefore, they will be removed from the dataset.

In [24]:
carbon_emission.country.unique()

array(['Afghanistan', 'Africa', 'Africa (GCP)', 'Aland Islands',
       'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola',
       'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia', 'Asia (GCP)',
       'Asia (excl. China and India)', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Central America (GCP)', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'Europe (GCP)', 'Europe (excl. EU-27)',
       'Europe (excl. EU-28)', 'European Union (27)',
       'European Union (27) (GCP)', 'European Union (28)',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High-income countries', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'International transport', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kuwaiti Oil Fires (GCP)', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Middle East (GCP)',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Non-OECD (GCP)', 'North America', 'North America (GCP)',
       'North America (excl. USA)', 'North Korea', 'North Macedonia',
       'Norway', 'OECD (GCP)', 'Oceania', 'Oceania (GCP)', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Panama Canal Zone (GCP)', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Ryukyu Islands (GCP)',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South America (GCP)', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts-Nevis-Anguilla (GCP)', 'Sudan', 'Suriname',
       'Svalbard and Jan Mayen', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [25]:
# Select countries to drop
countries_to_drop = ["Africa", "Africa (GCP)", "Asia", "Asia (GCP)", "Asia (excl. China and India)", "Central America (GCP)", "Europe", "Europe (GCP)", 
                     "Europe (excl. EU-27)", "Europe (excl. EU-28)","European Union (27)", "European Union (27) (GCP)", "European Union (28)",
                     "High-income countries", "International transport", "Kuwaiti Oil Fires (GCP)", "Low-income countries", "Lower-middle-income countries", 
                     "Middle East (GCP)", "Non-OECD (GCP)", "North America", "North America (GCP)", "North America (excl. USA)", "OECD (GCP)", "Oceania", 
                     "Oceania (GCP)", "Panama Canal Zone (GCP)", "Ryukyu Islands (GCP)", "South America", "South America (GCP)", "Upper-middle-income countries", "World"]

In [26]:
# Find the row index of each country and drop them from the DataFrame
for country in countries_to_drop:
    row_index = carbon_emission.index[carbon_emission["country"] == country].to_list()
    carbon_emission = carbon_emission.drop(row_index)

In [27]:
# Check that the countries have been sucessfully dropped
carbon_emission.shape

(11702, 12)

**The clean dataset**

In [28]:
carbon_emission.head()

,country,year,population,gdp,cement_co2,total_co2,coal_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2
0,Afghanistan,1971,11015853.0,1.577051e+10,0.043,1.894,0.359,0.304,0.440,6.265,0.747,0.0
1,Afghanistan,1972,11286753.0,1.317055e+10,0.046,1.530,0.191,0.366,0.300,6.046,0.627,0.0
2,Afghanistan,1973,11575308.0,1.356863e+10,0.067,1.635,0.311,0.223,0.333,4.983,0.702,0.0
3,Afghanistan,1974,11869881.0,1.430911e+10,0.070,1.913,0.305,0.367,0.400,4.617,0.771,0.0
4,Afghanistan,1975,12157390.0,1.517777e+10,0.069,2.121,0.399,0.304,0.475,4.140,0.874,0.0